@model Poe_Part_2.Models.Product

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.User's Product Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <partial>Product Name</partial>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            <partial>Production Date</partial>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            <partial>@ViewBag.CategoryName</partial>
        </dd>
        <dt class="col-sm-2">
            <partial>Username</partial>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UserProducts" asp-route-id="@Model?.Username">Back to List</a>
</div>
