@model IEnumerable<Poe_Part_2.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Between dates: <input type="date" name="searchDate1" /> and <input type="date" name="searchDate2" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
        <p>
            Select product category:
            <select name="searchCategories" asp-items="ViewBag.CategoryId"></select>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <partial>Product Name</partial>
            </th>
            <th>
                <partial>Production Date</partial>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                <partial>Username</partial>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDate)
            </td>
            <td>
                @foreach (var name in ViewBag.CategoryNames)
                {
                    Poe_Part_2.Data.PoeDbContext context = new Poe_Part_2.Data.PoeDbContext();
                    var category = context.Categories.Find(item.CategoryId);
                    <partial id="CategoryName">@category.CategoryName</partial>
                    break;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsernameNavigation.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
